<h1>
  Director #<%= @director.id %> details
</h1>

<a href="/directors/<%= @director.id %>/edit">
  Edit director
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director.bio %>
  </dd>

  <dt>
    Image url
  </dt>
  <dd>
    <%= @director.image_url %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@director.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@director.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_director/<%= @director.id %>">
  Delete director
</a>

<hr>

<a href="/directors">
  Go back
</a>
