<h1>
  Director #<%= @director.id %> details
</h1>

<a href="/directors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= truncate(@director.bio) %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @director.image_url %>">
  </dd>

  <dt>
    Number of films
  </dt>
  <dd>
    <%= @director.movies.count %>
  </dd>
</dl>

<div class="row mb-4">
  <div class="col">
    <a href="/directors/<%= @director.id %>/edit" class="btn btn-block btn-outline-secondary">
      Edit director
    </a>
  </div>

  <div class="col">
    <a href="/delete_director/<%= @director.id %>" class="btn btn-block btn-outline-secondary">
      Delete director
    </a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Filmography
  </div>

  <ul class="list-group list-group-flush">
    <% @director.movies.each do |movie| %>
      <li class="list-group-item">
        <a href="/movies/<%= movie.id %>">
          <%= movie.title %>
        </a>

        (<%= movie.year %>)
      </li>
    <% end %>

    <li class="list-group-item list-group-item-success">
      Add a new movie for this director
    </li>

    <li class="list-group-item">
      <form action="/create_movie" method="post">
        <!-- Hidden input for director_id -->
        <input type="hidden" name="director_id" value="<%= @director.id %>">

        <!-- Label and input for title -->
        <div class="form-group">
          <label for="title">
            Title
          </label>

          <input type="text" id="title" name="title" class="form-control">
        </div>

        <!-- Label and input for year -->
        <div class="form-group">
          <label for="year">
            Year
          </label>

          <input type="text" id="year" name="year" class="form-control">
        </div>

        <button class="btn btn-block btn-outline-secondary">
          Create movie
        </button>
      </form>
    </li>
  </ul>
</div>
