<h1>
  All movies
</h1>

<a href="/movies/new">
  Add a new movie
</a>

<hr>

<table class="table">
  <tr>
    <th></th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie.image_url %>" width="100">
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <a href="/directors/<%= movie.director_id %>">
        <%= movie.director.name %>
      </a>
    </td>

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
