<h1>
  All movies
</h1>

<a href="/movies/new">
  Add a new movie
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Duration
    </th>

    <th>
      Description
    </th>

    <th>
      Image url
    </th>

    <th>
      Director
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <%= movie.duration %>
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <%= movie.image_url %>
    </td>

    <td>
      <%= movie.director_id %>
    </td>

    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
