<h1>
  Movie #<%= @movie.id %> details
</h1>

<a href="/movies/<%= @movie.id %>/edit">
  Edit movie
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @movie.description %>
  </dd>

  <dt>
    Image url
  </dt>
  <dd>
    <img src="<%= @movie.image_url %>">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <a href="/directors/<%= @movie.director_id %>">
      <%= @movie.director.name %>
    </a>
  </dd>
</dl>

<div class="card">
  <div class="card-header">
    Cast
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.characters.each do |character| %>
      <li class="list-group-item">
        <a href="/actors/<%= character.actor_id %>">
          <%= character.actor.name %>
        </a>

        (<%= character.name %>)
      </li>
    <% end %>

    <li class="list-group-item list-group-item-success">
      Add a new character to this movie
    </li>

    <li class="list-group-item">
      <form action="/create_character" method="post">
        <!-- Hidden input for movie_id -->
        <input type="hidden" name="movie_id" value="<%= @movie.id %>">

        <!-- Label and input for actor_id -->
        <div class="form-group">
          <label for="actor_id">
            Actor
          </label>

          <%= select_tag("actor_id", options_from_collection_for_select(Actor.order(:name), :id, :name), :class => "form-control") %>
        </div>

        <!-- Label and input for name -->
        <div class="form-group">
          <label for="name">
            Name
          </label>

          <input type="text" id="name" name="name" class="form-control" value="<%= @character.try(:name) %>">
        </div>

        <button class="btn btn-block btn-outline-secondary">
          Create character
        </button>
      </form>
    </li>
  </ul>
</div>
